.about-section {
  .left {
    width: 55%;

    border-right: 1px solid #c4c4c4;

    h2 {
      text-align: left;
    }
  }

  .right {
    width: 45%;

    h2 {
      text-align: center;
    }
  }
}
