@import 'mixins/background-image';

.content-container {
  margin-top: 95px;

  position: relative;

  .content {
    height: 1200px;
    width: 95%;
    max-width: 1280px;

    margin: 0 auto;

    .section {
      margin: 0 5%;

      overflow: auto;

      .left, .right {
        box-sizing: border-box;

        text-align: justify;
      }

      .left {
        float: left;
        padding-right: 20px;
      }

      .right {
        float: right;
        padding-left: 20px;
      }
    }

    .section-separator {
      width: 90%;
      height: 33px;

      padding-top: 30px;

      display: block;
      margin: auto;

      cursor: pointer;

      @include backgroundImage(image-url('nav/separator_light.png'), no-repeat, center center, 1250px 33px);

      transition: background-image 0.2s;

      &:hover {
        background-image: image-url('nav/separator_dark.png');
        transition: background-image 0.2s;
      }
    }
  }

  h1.section-title {
    text-align: center;
  }
}
