.home-section {
  text-align: center;

  .top {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
  }

  .carousel-wrapper {
    img.carousel-image {
      width: 95%;
      max-width: 1000px;

      padding-bottom: 20px;
    }
  }
}
