.portfolio-section {
  .item-wrapper {
    overflow: auto;
    padding-bottom: 20px;
    text-align: center;

    a {
      text-decoration: none;

      img.item-image {
        width: 49%;
        max-width: 500px;
      }
    }
  }
}
