@mixin fontFaceAsset($name, $directory, $weight, $style) {
  $path-prefix: $directory + '/' + $weight + '_' + $style;

  font-family: $name;

  src: font-url("#{$path-prefix}.eot");
  src: local($name),
    font-url("#{$path-prefix}.eot?#iefix") format('embedded-opentype'),
    font-url("#{$path-prefix}.woff") format('woff'),
    font-url("#{$path-prefix}.ttf") format('truetype');

  font-weight: normal;
  font-style: normal;
}