<div class="copyright">
  &copy; 2013 Himesh Ladva
</div>
<div class="social-links">
  <a class="facebook" href="<%= CONFIG['facebook_link'] %>"></a>
  <a class="twitter" href="<%= CONFIG['twitter_link'] %>"></a>
  <a class="linkedin" href="<%= CONFIG['linkedin_link'] %>"></a>
  <a class="instagram" href="<%= CONFIG['instagram_link'] %>"></a>
</div>