<footer>
  <div class="copyright">
    &copy; 2013 Himesh Ladva
  </div>
  <div class="social-links">
    <%= link_to '', CONFIG['facebook_link'], class: 'facebook' %>
    <%= link_to '', CONFIG['twitter_link'], class: 'twitter' %>
    <%= link_to '', CONFIG['linkedin_link'], class: 'linkedin' %>
    <%= link_to '', CONFIG['instagram_link'], class: 'instagram' %>
  </div>
</footer>
