<div class="nav-container">
  <button class="menu">Menu</button>
  <nav class="size">
    <ul class="nav">
      <li class="home">
        <%= link_to 'Home', '/' %>
      </li>

      <li class="about">
        <%= link_to 'About Me', '#about' %>
      </li>

      <li class="portfolio">
        <%= link_to 'Portfolio', '#portfolio' %>
      </li>

      <li class="contact">
        <%= link_to 'Contact Me', '#contact' %>
      </li>
    </ul>
  </nav>
</div>