<div class="nav-container">
  <nav>
    <ul>
      <a href="">
        <li class="">Home</li>
      </a>
      <a href="">
        <li class="">About Me</li>
      </a>
      <a href="">
        <li class="">Portfolio</li>
      </a>
      <a href="">
        <li class="">Contact Me</li>
      </a>
    </ul>
  </nav>
</div>