<div class="nav-container">
  <nav>
    <ul>
      <a href="<%= root_url %>">
        <li class="">Home</li>
      </a>
      <a href="<%= page_about_url %>">
        <li class="">About Me</li>
      </a>
      <a href="<%= page_portfolio_url %>">
        <li class="">Portfolio</li>
      </a>
      <a href="<%= page_contact_url %>">
        <li class="">Contact Me</li>
      </a>
    </ul>
  </nav>
</div>