<div class="preload-assets">
  <img src="assets/social/facebook_colour.png" />
  <img src="assets/social/twitter_colour.png" />
  <img src="assets/social/linkedin_colour.png" />
  <img src="assets/social/instagram_colour.png" />
</div>