<div class="sidebar-close"></div>
<aside class="sidebar">
  <div class="twitter">
    <h2>My Tweets</h2>
  </div>

  <div class="instagram">
    <h2>My Instagram</h2>

    <div class="carousel-container">
      <div class="prev"></div>
      <div class="carousel"><%= image_tag('spinner-64.gif', class: 'spinner', alt:'Loading...') %></div>
      <div class="next"></div>
    </div>
  </div>
</aside>