<a name="about"></a>
<h1 class="section-title">About Me</h1>

<div class="left">
  <h2>Intro</h2>
  <span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, corporis, et, natus, dignissimos accusantium illo ipsa a voluptas deleniti earum quidem tempore fugit possimus atque quos illum dolore. Rerum, delectus?
  </span>
  <h2>Skills</h2>
  <span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, ea, doloribus, nobis, molestiae ipsum quam quaerat laborum sint id dicta debitis possimus distinctio ut cum inventore? Maiores, molestias tempore cum?
  </span>
</div>

<div class="right">
  <h2>Curriculum Vitae</h2>
  <span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, ea, voluptatem cupiditate impedit iste non sit libero dolores illo consectetur ex dolorum veritatis nam inventore repellendus quam minima pariatur accusamus cumque obcaecati iusto atque ratione quo quas fuga vero tempora!
  </span>
</div>