<a name="top" class="anchor-link"></a>
<h1 class="section-title">Welcome to my portfolio</h1>

<div class="carousel-wrapper rslides_container">
  <ul class="rslides">
    <li>
      <img src="http://www.placehold.it/1200x450" alt="Sunday Times Driving">
      <p class="caption">Sunday Times Driving</p>
    </li>
    <li>
      <img src="http://www.placehold.it/1200x450" alt="The Times & The Sunday Times">
      <p class="caption">The Times & The Sunday Times</p>
    </li>
    <li>
      <img src="http://www.placehold.it/1200x450" alt="Loughborough World">
      <p class="caption">Loughborough World</p>
    </li>
    <li>
      <img src="http://www.placehold.it/1200x450" alt="xploring London">
      <p class="caption">Exploring London</p>
    </li>
    <li>
      <img src="http://www.placehold.it/1200x450" alt="Miniature Canada">
      <p class="caption">Miniature Canada</p>
    </li>
    <li>
      <img src="http://www.placehold.it/1200x450" alt="Sunset in Dubai">
      <p class="caption">Sunset in Dubai</p>
    </li>
    <li>
      <img src="http://www.placehold.it/1200x450" alt="Dubai at Night">
      <p class="caption">Dubai at Night</p>
    </li>
  </ul>
</div>