<a name="portfolio" class="anchor-link"></a>
<h1 class="section-title">My Portfolio</h1>

<div class="item-wrapper">
  <img src="http://www.placehold.it/500x200" alt="">

  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident omnis dignissimos saepe qui libero sed at ipsa sit esse nisi. Nobis, unde rem aspernatur impedit officia natus dolor delectus perferendis perspiciatis eos beatae asperiores possimus rerum accusamus id non tenetur corrupti expedita ea dolorem quidem nesciunt vero itaque quasi mollitia.
  </div>
</div>

<div class="item-wrapper">
  <img src="http://www.placehold.it/500x200" alt="">

  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, esse, dignissimos, animi, veritatis ducimus necessitatibus provident rem eum illum exercitationem iusto non alias nisi pariatur ex placeat at. Ipsum, animi quam culpa eos perferendis eaque aliquam iure amet obcaecati libero quibusdam quos explicabo a non est repellat natus error consectetur.
  </div>

</div>
