<a name="portfolio" class="anchor-link"></a>
<h1 class="section-title">My Portfolio</h1>

<div class="item-wrapper">
  <a href="http://www.placehold.it/1001x500" data-lightbox="image-1" title="Caption">
    <img src="http://www.placehold.it/500x200" class="item-image" alt="">
  </a>

  <a href="http://www.placehold.it/1002x500" data-lightbox="image-1" title="Caption">
    <img src="http://www.placehold.it/500x200" class="item-image" alt="">
  </a>

  <a href="http://www.placehold.it/1003x500" data-lightbox="image-1" title="Caption">
    <img src="http://www.placehold.it/500x200" class="item-image" alt="">
  </a>

  <a href="http://www.placehold.it/1004x500" data-lightbox="image-1" title="Caption">
    <img src="http://www.placehold.it/500x200" class="item-image" alt="">
  </a>

  <a href="http://www.placehold.it/1005x500" data-lightbox="image-1" title="Caption">
    <img src="http://www.placehold.it/500x200" class="item-image" alt="">
  </a>
</div>
