<% page_meta(title: "Himesh Ladva | Contact Me") %>

<% content_for :stylesheets do %>
<% end %>

<% content_for :head do %>
<% end %>

<% content_for :sidebar do %>
  <% render 'shared/sidebar' %>
<% end %>

<h1>CONTACT ME</h1>
