<% page_meta(title: "Himesh Ladva | Portfolio") %>

<% content_for :stylesheets do %>
<% end %>

<% content_for :head do %>
<% end %>

<div class="home-section">
  <a name="top"></a>
  <h1 class="section-title">Welcome to my portfolio</h1>
</div>

<%= render 'shared/separator' %>

<div class="about-section">
  <%= render 'about' %>
</div>

<div class="portfolio-section">
  <%= render 'portfolio' %>
</div>

<div class="contact-section">
  <%= render 'contact' %>
</div>
