@import 'mixins/background-image';

.sidebar {
  .instagram {
    h2 {
      @include backgroundImage(image-url('social/instagram_colour.png'), no-repeat, 30px, 20px);

      a {
        text-decoration: none;
        color: #404040;
      }
    }

    .carousel {
      width: 80%;

      display: inline-block;

      .spinner {
        display: block;
        margin: auto;
      }

      .image {
        img {
          height: auto;
          width: 100%;
          border: 2px solid black;
        }
      }

      .caption {
        width: 100%;
        font-size: 13px;
      }
    }

    .prev, .next {
      display: inline-block;

      cursor: pointer;

      width: 20px;
      height: 30px;
    }

    .prev {
      @include backgroundImage(image-url('left.png'), no-repeat, center center, 15px auto);

    }

    .next {
      @include backgroundImage(image-url('right.png'), no-repeat, center center, 15px auto);
    }
  }
}