.sidebar {
  .instagram {
    position: relative;

    .carousel-container {
      div {
        display: inline-block;
      }

      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }

    .carousel {
      width: 80%;

      .spinner {
        display: block;
        margin: auto;
      }

      .image {
        img {
          height: auto;
          width: 100%;
          border: 2px solid black;
        }
      }

      .caption {
        width: 180px;
        font-size: 13px;
      }
    }

    .prev, .next {
      cursor: pointer;

      width: 20px;
      height: 30px;

      background-repeat: no-repeat;
      background-size: 15px auto;
      background-position: center center;
    }

    .prev {
      background-image: image-url('left.png');
    }

    .next {
      background-image: image-url('right.png');
    }
  }
}