.sidebar {
  .instagram {
    .carousel {
      width: 80%;

      display: inline-block;

      .spinner {
        display: block;
        margin: auto;
      }

      .image {
        img {
          height: auto;
          width: 100%;
          border: 2px solid black;
        }
      }

      .caption {
        width: 100%;
        font-size: 13px;
      }
    }

    .prev, .next {
      display: inline-block;

      cursor: pointer;

      width: 20px;
      height: 30px;

      background-repeat: no-repeat;
      background-size: 15px auto;
      background-position: center center;
    }

    .prev {
      background-image: image-url('left.png');
    }

    .next {
      background-image: image-url('right.png');
    }
  }
}