@import 'mixins/background-image';

.sidebar {
  .twitter {
    height: 40%;

    h2 {
      margin-bottom: 5px;
      @include backgroundImage(image-url('social/twitter_bird.png'), no-repeat, 40px, 35px);

      a {
        text-decoration: none;
        color: #404040;
      }
    }
  }
}