header {
  height: 85px;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 999;

  // background: image-url('header/himeshladva.png') no-repeat left center;
  // background-size: 40%;
  background-color: #fff;

  box-shadow: 0px 0px 15px 0px #888888;
  border-top: 3px solid black;

  margin-bottom: 10px;

  .logo {
    float: left;

    padding-left: 20px;

    font-family: "Century Gothic";
    font-size: 65px;
    letter-spacing: -5px;
    line-height: 85px;

    &:before {
      content: 'himesh';
    }

    &:after {
      content: 'Ladva';
      color: #1d8ef7;
    }
  }
}
