.nav-container {
  float: right;

  nav.main {
    padding-right: 40px;

    ul.nav {
      overflow: hidden;
      display: inline-block;

      margin: 0;

      line-height: 85px;

      transition: line-height 0.3s;

      li {
        float: left;

        padding: 0 10px;

        list-style: none;
        text-align: center;

        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s linear;

        &:hover {
          a {
            font-family: "Roboto";
          }

          &.home {
            border-bottom: 2px solid red;
          }

          &.about {
            border-bottom: 2px solid blue;
          }

          &.portfolio {
            border-bottom: 2px solid yellow;
          }

          &.contact {
            border-bottom: 2px solid green;
          }
        }

        a {
          position: relative;
          top: 5px;
          transition: top 0.2s;

          width: 95px;

          display: block;

          text-decoration: none;
          color: black;

          &:hover {
            position: relative;
            top: 20px;
            transition: top 0.2s;
          }
        }
      }
    }
  }

  &.small {
    nav.main ul.nav {
      line-height: 50px;
      transition: line-height 0.3s;

      li a {
        position: relative;
        top: 2px;
        transition: top 0.3s;
      }
    }
  }
}
