html, body {
  margin: 0;
  padding: 0;

  font-family: "Roboto Light";
  // font-family: "Roboto";
}

h1, h2 {
  font-family: "Roboto";
  font-weight: normal;
  color: #404040;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
