@mixin include-font-face($name, $url, $format) {
  font-family: $name;
  src: local($name),
    url($name + '/' + $url) format($format);
}

@font-face {
  // @include include-font-face("Lobster", "Lobster.otf", "opentype");
  font-family: 'Lobster';
  src: font-url('Lobster/Lobster.otf');
  // src:url('icomoon.eot?#iefix') format('opentype');
    // url('icomoon.svg#icomoon') format('svg'),
    // url('icomoon.woff') format('woff'),
    // url('icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include include-font-face("Century Gothic", "Gothic.ttf", "truetype");
}

@font-face {
  @include include-font-face("Century Gothic", "Gothic_bold.ttf", "truetype");

  font-weight: bold;
}

@font-face {
  @include include-font-face("Century Gothic", "Gothic_italic.ttf", "truetype");

  font-style: italic;
}

@font-face {
  @include include-font-face("Century Gothic", "Gothic_bold_italic.ttf", "truetype");

  font-weight: bold;
  font-style: italic;
}