@mixin include-font-face($name, $url, $format) {
  font-family: $name;
  src: asset-url($name + '/' + $url) format($format);
}

@font-face {
  @include include-font-face("Lobster", "Lobster.otf", "opentype");
}

@font-face {
  @include include-font-face("Century Gothic", "Gothic.ttf", "truetype");
}

@font-face {
  @include include-font-face("Century Gothic", "Gothic_bold.ttf", "truetype");

  font-weight: bold;
}

@font-face {
  @include include-font-face("Century Gothic", "Gothic_italic.ttf", "truetype");

  font-style: italic;
}

@font-face {
  @include include-font-face("Century Gothic", "Gothic_bold_italic.ttf", "truetype");

  font-weight: bold;
  font-style: italic;
}