// PHONE
@media screen and (max-width: 480px) {
  header {
    // background: image-url('header/hl.png') no-repeat left center;
    // background-size: 83px;
    height: 60px;

    .logo {
      font-size: 60px;
      line-height: 60px;

      &:before {
        content: 'h';
      }

      &:after {
        content: 'L';
        color: #1d8ef7;
      }
    }
  }

  .content-container {
    margin-top: 60px;
  }

  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
  }

  .nav-container {
    display: none;
  }
}


@media screen and (min-width: 481px) and (max-width: 767px) {
  header {
    background-color: orange;
  }

//   .nav-container {
//     width: 90%;
//   }

  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
  }
}

// TABLET
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    background-color: yellow;
  }

  .nav-container {
    // width: 60%;
  }
}
