// SMALLER PHONE
@media screen and (max-width: 375px) {
  header {
    .logo {
      font-size: 40px !important;
    }
  }
}
// PHONE
@media screen and (max-width: 480px) {
  header {
    height: 50px;

    .logo {
      padding-left: 15px;

      font-size: 50px;
      letter-spacing: -3px;
      line-height: 50px;
    }

    .menu-pull {
      margin-right: -7px;

      background-size: 25px 25px !important;
    }
  }

  .content-container {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav-container {
    width: 100%;

    background-color: #fff;

    display: none;
  }

  .section {
    .left, .right {
      border: none;
      padding: 0 !important;
      width: 100%;

      h2 {
        text-align: left;
      }
    }

    &.portfolio-section {
      img.item-image {
        width: 100%;
        max-width: 500px;
      }
    }
  }

  footer {
    position: relative;

    .facebook {
      content: image-url('social/facebook_colour.png') !important;
    }

    .twitter {
      content: image-url('social/twitter_colour.png') !important;
    }
    .linkedin {
      content: image-url('social/linkedin_colour.png') !important;
    }
    .instagram {
      content: image-url('social/instagram_colour.png') !important;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  header {
    background-color: orange;
    .logo {
      padding-left: 20px;
    }

    .menu-pull {
      &.active {
        font-size: 40px;
        line-height: 85px;
      }
    }
  }

  .nav-container {
    width: 50%;
  }
}

// TABLET
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    background-color: yellow;

    .logo {
      font-size: 60px;
      padding-left: 20px;
    }
  }

  .menu-pull {
    display: none !important;
  }

  .nav-container {
    display: block !important;

    nav.main {
      padding-right: 20px !important;

      ul {
        padding-left: 10px !important;

        li {
          padding: 0 !important;

          a {
            padding: 0px 0px 0px !important;
          }
        }
      }
    }

    nav.small {
      display: none;
    }
  }

  footer {
    .facebook {
      content: image-url('social/facebook_colour.png') !important;
    }

    .twitter {
      content: image-url('social/twitter_colour.png') !important;
    }
    .linkedin {
      content: image-url('social/linkedin_colour.png') !important;
    }
    .instagram {
      content: image-url('social/instagram_colour.png') !important;
    }
  }
}

// DESKTOP
@media screen and (min-width: 1025px) {
  .menu-pull {
    display: none;
  }

  .nav-container {
    display: block !important;

    nav.small {
      display: none;
    }
  }
}
